<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <display-name>Cambridge</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Regservlet</display-name>
    <servlet-name>Regservlet</servlet-name>
    <servlet-class>servletcam.Regservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Regservlet</servlet-name>
    <url-pattern>/Regservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdmisionServlet</display-name>
    <servlet-name>AdmisionServlet</servlet-name>
    <servlet-class>servletcam.AdmisionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdmisionServlet</servlet-name>
    <url-pattern>/AdmisionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Aminservlet</display-name>
    <servlet-name>Aminservlet</servlet-name>
    <servlet-class>servletcam.Aminservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Aminservlet</servlet-name>
    <url-pattern>/Aminservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Enrollmentser</display-name>
    <servlet-name>Enrollmentser</servlet-name>
    <servlet-class>servletcam.Enrollmentser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Enrollmentser</servlet-name>
    <url-pattern>/Enrollmentser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Studentform</display-name>
    <servlet-name>Studentform</servlet-name>
    <servlet-class>servletcam.Studentform</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Studentform</servlet-name>
    <url-pattern>/Studentform</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Reslutser</display-name>
    <servlet-name>Reslutser</servlet-name>
    <servlet-class>servletcam.Reslutser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Reslutser</servlet-name>
    <url-pattern>/Reslutser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminAttendence</display-name>
    <servlet-name>AdminAttendence</servlet-name>
    <servlet-class>servletcam.AdminAttendence</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAttendence</servlet-name>
    <url-pattern>/AdminAttendence</url-pattern>
  </servlet-mapping>
</web-app>